body {
  background: radial-gradient(circle, #1a1a1a, #000);
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 10px;
}

#gameContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

canvas {
  background: #111;
  border: 3px solid #555;
  box-shadow: 0 0 20px black;
  
  image-rendering: pixelated;
    image-rendering: crisp-edges;
}

/* Zar ekranı */
#diceScreen {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background: #222;
  padding: 20px;
  border: 2px solid white;
  box-shadow: 0 0 15px black;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background: orange;
  border: none;
  cursor: pointer;
}

#statusBoard {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

#hpBarContainer {
  width: 200px;
  height: 20px;
  background-color: #444;
  border: 2px solid #fff;
  margin: 5px auto;
  border-radius: 10px;
  overflow: hidden;
}

#hpBar {
  width: 100%; /* Başlangıçta dolu */
  height: 100%;
  background-color: #ff4d4d;
  transition: width 0.3s ease-in-out; /* Can azalırken akıcı görünmesi için */
}

button:hover {
  background: darkorange;
}

.hidden {
  display: none;
}

#diceArea {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.dice {
  width: 60px;
  height: 60px;
  background: white;
  color: black;
  font-size: 24px;
  line-height: 60px;
  border-radius: 10px;
}

#miniMap {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid #777;
}